html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #eee;
    margin-bottom: 60px; // footer height
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #C8C8C8;
}

.footer-container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footer-container .text-muted {
    margin: 20px 0;
}
.footer-text {
    margin-left: 3em;
}

.form-search {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.form-search-heading {
    margin-bottom: 10px;
}
.form-search .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-search .form-control:focus {
    z-index: 2;
}

.picker {
    max-width: 170px;
    margin-bottom: 20px;
}
.rating-picker {
    max-width: 60px;
}
.select-label {
    font-size: 16px;
}

.reviews-page {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.info-box {
    text-align: center;
    background: #e5e5e5;
    padding: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.review-box {
    background: #e5e5e5;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.details {
    margin: 10px;
    white-space: nowrap;
}
.text-area {
    resize: none;
    margin-bottom: 20px;
}

.flash-success {
    background: #80ff80;
    color: #008000;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.flash-error {
    background: #ff6666;
    color: #990000;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.create-button {
    margin-top: 15px;
}
.create-page-flags {
    max-width: 400px;
    margin: 0 auto;
}

.genre-list {
    font-size: small;
}
.sidebar-right {
    border-left: groove;
}
.navbar {
    margin-bottom: 20px;
}
